@import url("https://fonts.googleapis.com/css?family=Lato:900");
*, *:before, *:after{
  box-sizing:border-box;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  overflow: hidden;
  background-image: url("../images/background.jpg");
  background-size:cover;
}


h1{
  text-align: center;
  padding-top: 10px;
  color: #fafafa;
  opacity: 0.9;
  font-size: 60px;
  padding-bottom: 50px;
}

#card-title{
  font-size: 40px;
}
h2{
  color: #fafafa;
}
.card {
  float: left;
  border-radius: 15px;
  background-color: #36364c;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #36364c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
}
button:hover {
  background-color: transparent;
  color: #fff;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


